.signuppage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupdiv {
  background: #e1effc;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: #fff;
  padding: 50px;
  width: max-content;
  height: max-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Drop shadow effect */
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.signupdiv span {
  color: rgb(192, 8, 8);
}

.signupdiv table tr {
  margin: 50px;
}

.close-button {
  top: 10px;
  right: 10px;
  text-align: start;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #000;
}

.table-container {
  margin-top: 20px;
}

table {
  margin: 0 auto;
  width: 70%;
  border-collapse: collapse;
}

tr {
  margin: 150px;
}

td {
  padding: 0 25px;
  color: #082138;
  border: 1px solid #ccc;
}

td p {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td input {
  width: 350px;
  height: 25px;
  letter-spacing: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 2px solid #000;
  border-left: none;
  padding-left: 10px;
  background-color: transparent;
  border-right: none;
  border-top: none;
  outline: none;
}

td input:focus {
  height: 25px;
  font-size: 18px;

  padding-bottom: 10px;
}

input[type="text"]:invalid {
  border: none;
  box-shadow: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .signupdiv {
    background: #e1effc;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    padding: 50px;
    width: max-content;
    height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .signuppage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  td {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 26px 
  }
  table tr {
    margin: 0;
  }
}