.step-indicator {
    display: flex;
  }
  
  .step {
    width: 30px;
    height: 30px;
    /* border: 2px solid #aaa; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .step.active {
    /* background-color: #007bff; */
    /* color: #fff; */
font-size: 35px;
text-decoration: underline;
  }
  